.zoom-buttons-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.zoom-buttons{
    position: absolute;
    top: 50px;
    left: 20px;
    z-index: 1000;
}

.zoom-btn {
    display: block;
    margin: 3px;
    float: none;
    width: 36px;
    height: 36px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.zoom-btn svg {
    vertical-align: middle;
}

  