.basemap-container {
    position: absolute;
    left: 0px;
    bottom: 60px;
    z-index: 1000;
}
.basemap-button-wrapper {
    position: absolute;
    left: 20px;
    z-index: 1000;
}

.basemap-btn {
    display: block;
    margin: 3px;
    float: none;
    width: 36px;
    height: 36px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.basemap-btn svg {
    vertical-align: middle;
}

.basemap-list-wrapper {
    position: fixed;
    padding-bottom: 10px;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    font-size: 1rem;
    color: #616161;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s;
}

.basemap-container:hover .basemap-list-wrapper {
    visibility: visible;
    opacity: 1;
}

.basemap-list-wrapper ul{
    margin: 0;
    padding: 0;
}

.basemap-list-wrapper h4 {
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
}

.basemap-list-item {
    display: inline;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #616161;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.basemap-list-item img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}