/* You can add global styles to this file, and also import other style files */
@import url('https://js.arcgis.com/4.6/esri/css/main.css');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.esri-attribution__sources{
    display: none;
}

.esri-attribution__powered-by {
    display: none;
}